{% load static %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile utilisateur</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'css/bootstrap-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/profil.css' %}" rel="stylesheet">
</head>

<body class="container mt-3">

    <div id="notification-container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <main class="py-sm-24 pb-md-32 position-relative">
        <h1 class="text-center mb-16">Salut {{ user.username }}! </h1>
        <div class="row">
            <div id="Password">
                <p class="d-inline-flex gap-1">
                    <button class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#ChangePassword" aria-expanded="false" aria-controls="ChangePassword">
                        Changer le mot de passe
                    </button>
                </p>
                <div class="collapse" id="ChangePassword">
                    <div class="card card-body">
                        <form method="post">
                        {% csrf_token %}
                            <div class="form-floating">
                                <input name="new_password" type="password" class="form-control" 
                                placeholder="" id="{{ form.new_password1.id_for_label }}">
                                <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nouveau mot de passe</label>
                            </div>
                            <div class="form-floating">
                                <input name="new_password2" type="password" class="form-control" 
                                placeholder="" id="{{ form.new_password2.id_for_label }}">
                                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmation du mot de passe</label>
                            </div>
                            <button type="submit" class="btn btn-light">Modifier le mot de passe</button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="Email">
                <p class="d-inline-flex gap-1">
                    <button class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#ChangeEmail" aria-expanded="false" aria-controls="ChangeEmail">
                        Changer d'adresse mail
                    </button>
                </p>
                <div class="collapse" id="ChangeEmail">
                    <div class="card card-body">
                        <form method="post">
                        {% csrf_token %}
                            <div class="form-floating">
                                <input name="new_email" type="email" class="form-control" 
                                placeholder="" id="{{ form.new_email1.id_for_label }}">
                                <label for="{{ form.new_email1.id_for_label }}" class="form-label">Nouvelle adresse mail</label>
                            </div>
                            <div class="form-floating">
                                <input name="new_email2" type="email" class="form-control" 
                                placeholder="" id="{{ form.new_email2.id_for_label }}">
                                <label for="{{ form.new_email2.id_for_label }}" class="form-label">Confirmation de l'adresse mail</label>
                            </div>
                            <button type="submit" class="btn btn-light">Modifier le mot de passe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>