<div class="border rounded">
    {% for card in page_obj %}
    <div class="border d-flex px-2 py-2">
        <div class="mx-3 my-3">
            <img src="{{ card.image.url }}" alt="{{ card.name }}" loading="lazy" width="270" height="370">
        </div>
        <div class="card-content d-flex px-3 py-3 flex-column">
            <div class="p-3 text-center" style="height: 64px; width: 762px;">
                <h5>{{ card.name }}</h5>
            </div>
            <div class="text-center" style="height: 160px; width: 762px">
                <div class="d-flex justify-content-between mx-5" style="height: 50px; width: 600px;">
                    <span>{{ card.type }}</span>
                    <span>{% if card.type == 'Trap Card' or card.type == 'Spell Card' %}{{ card.spell_trap_race }}
                        {% else %}{{ card.monster_race }}{% endif %}</span>
                    <span>{% if card.attribute is not None %}{{ card.attribute }}{% endif %}</span>
                </div>
                <p>{% if card.level_rank is not None %}LVL: {{ card.level_rank }}{% endif %}</p>
                <p>{% if card.attack is not None %}ATK: {{ card.attack }}{% endif %}
                {% if card.defense is not None %}DEF: {{ card.defense }}{% endif %}</p>
            </div>
            <p>{{ card.effect }}</p>
        </div>
    </div>
    {% empty %}
    <p>Aucune carte ne correspond à ce filtre.</p>
    {% endfor %}
</div>
